.container {
    max-width: 1140px !important;
    padding: 0 15px;
    margin: 0 auto !important;
    @media screen and (max-width: 1023px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 767px) {
        padding: 0 15px;
    }
}

@media only screen and (min-width: 48em) {
    .container {
        width: 100% !important;
    }
}