<template>
    <div class="gifts">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="title">
                        Получай баллы
                        за обучение
                        и обменивай
                        на ценные
                        подарки
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="info">
                        <div class="image"></div>
                        <div class="text">
                            <p>
                                В лавке чудес ты сможешь
                                обменять баллы на подарки:
                            </p>
                            <p>
                                гаджеты, билеты на меро-
                                приятия, скидки на наши курсы.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
.gifts {
    background: #17212B;
    height: 600px;
    margin-bottom: 50px;
    .container {
        height: inherit;
        .row {
            height: 100%;
            .col-md-6 {
                height: 100%;
            }
        }
    }
    .title {
        font-size: 50px;
        line-height: 110%;
        color: #ffffff;
        max-width: 375px;
        height: 100%;
        display: flex;
        align-items: center;
        @media screen and (max-width: 767px) {
            font-size: 30px;
            line-height: 105%;
            margin-bottom: 20px;
        }
    }
    .info {
        font-size: 16px;
        line-height: 110%;
        color: #ffffff;
        position: relative;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 767px) {
            align-items: flex-start;
        }
    }
    .image {
        background: url('./assets/gifts.png') no-repeat center;
        background-size: contain;
        width: 855px;
        height: 541.29px;
        position: absolute;
        left: -310px;
        bottom: 0;
        @media screen and (max-width: 1200px) {
            width: 100%;
            height: 440px;
            left: -80px;
        }
        @media screen and (max-width: 1023px) {
            background-size: cover;
            position: relative;
            width: 100%;
            height: 331px;
            top: -80px;
            left: auto;
        }
        @media screen and (max-width: 767px) {
            position: static;
            width: 100%;
            height: 240px;
            margin-bottom: 15px;
        }   
    }
    .text {
        max-width: 220px;
        position: relative;
        z-index: 2;
        left: -53px;
        top: -80px;
        p:first-child {
            margin-bottom: 15px;
        }
        @media screen and (max-width: 1200px) {
            left: 0;
        }
        @media screen and (max-width: 1023px) {
            top: -60px;
        }
        @media screen and (max-width: 767px) {
            position: static;
            font-size: 16px;
            line-height: 23px;
        } 
    }
    @media screen and (max-width: 767px) {
        height: auto;
        padding: 20px 0 45px;
        margin-bottom: 20px;
    }
}
</style>