<template functional>
    <div class="experts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">
                        Эксперты ЕГЭ лучше всех
                        разбираются в предметах
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <ul class="info">
                        <li class="item">
                            Наши преподаватели - это эксперты ЕГЭ
                            минимум с 2012 года, которые проверяют КИМы выпускников
                        </li>
                        <li class="item">
                            У каждого эксперта авторская программа подготовки к ЕГЭ
                        </li>
                        <li class="item">
                            Каждый год сдают ЕГЭ на 100 баллов,
                            чтобы подтвердить уровень экспертности
                        </li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="about">
                        <div class="about-info">
                            <p>
                                Эксперты знают, на каких вопросах выпускники чаще теряют баллы.
                                Поэтому эксперты могут правильно подготовить к экзамену.
                            </p>
                            <div class="rectangle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.experts {
    padding-bottom: 80px;
    overflow: hidden;
    width: 100%;
    .title {
        max-width: 625px;
        font-size: 50px;
        line-height: 110%;
        margin-bottom: 50px;
        @media screen and (max-width: 767px) {
            font-size: 30px;
            line-height: 105%;
            margin-bottom: 30px;
        }
    }
    .info {
        padding-left: 30px;
        margin: 0;
        .item {
            position: relative;
            list-style-type: none;
            font-size: 18px;
            line-height: 110%;
            margin-bottom: 40px;
            &:before {
                content: "";
                position: absolute;
                left: -30px;
                width: 20px;
                height: 20px;
                background-image: url('./assets/tick-sign.png');
                background-size: contain;
            }
            @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 23px;
                margin-bottom: 30px;
            }
        }
    }
    .about {
        background: url('./assets/image.png') no-repeat center;
        width: 700px;
        height: 466px;
        position: relative;
        &-info {
            background: #ffffff;
            width: 100%;
            max-width: 475px;
            position: absolute;
            bottom: -57px;
            left: -410px;
            padding: 25px 20px;
            border: 10px solid #3e64ff;
            p {
                max-width: 315px;
                font-size: 18px;
                line-height: 110%;
                @media screen and (max-width: 1023px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    max-width: 260px;
                }
            }
            .rectangle {
                position: absolute;
                right: -10px;
                top: -10px;
                background: url('./assets/rectangle-experts.png') no-repeat center;
                width: 65px;
                height: 65px;
            }
            @media screen and (max-width: 1024px) {
                bottom: -80px;
                left: -250px;
            }
            @media screen and (max-width: 767px) {
                bottom: -150px;
                left: 0;
                padding: 25px 10px;
            }
        }
        @media screen and (max-width: 1023px) {
            width: 400px;
            height: 266px;
            margin-left: auto;
            margin-top: 120px;
        }
        @media screen and (max-width: 1023px) {
            margin-top: 160px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 0;
            width: auto;
        }
    }
    @media screen and (max-width: 1023px) {
        padding-bottom: 120px;
    }
    @media screen and (max-width: 767px) {
        padding-bottom: 170px;
    }
}
</style>