<template>
    <div class="wrapper">
        <the-header/>
        <main class="content">
            <slot name="main-content"/>
        </main>
        <the-footer/>
    </div>
</template>

<script>
import TheHeader from "./../components/modules/TheHeader";
import TheFooter from "./../components/modules/TheFooter";
    export default {
        components: {
            TheHeader,
            TheFooter,
        },
    }
</script>

<style lang="scss">
.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content {
    flex: 1;
}
@import 'https://fonts.googleapis.com/css?family=Raleway';
$primary-color: #3498db;

.preloader{
   width:100%;
   height:100vh;
   background: $primary-color;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   color: white;
   font-family: 'Raleway', sans-serif;
   position: relative;
   &__status{
      width: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
   }
   &__status-text{
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
      margin-bottom:20px;
   }
   &__status-loader{
      width: 100%;
      height:3px;
   }
   &__status-bar{
      background: white;
      height: 100%;
   }
}
// .frontpage{
//    height: 100vh;
//    background: #34495e;
// }
// .frontpage__title{
//    color: white;
// }

</style>