<template>
    <default-layout>
        <template #main-content>
            <page-head></page-head>
            <conditions></conditions>
            <teachers></teachers>
            <experts></experts>
            <online></online>
            <tutors></tutors>
            <staff></staff>
            <board></board>
            <overview></overview>
            <rates></rates>
            <gifts></gifts>
            <team></team>
        </template>
    </default-layout>
</template>

<script>
import DefaultLayout from "./../layouts/default";
import PageHead from '../components/pages/Home/PageHead';
import Conditions from '../components/pages/Home/Conditions';
import Teachers from '../components/pages/Home/Teachers';
import Experts from '../components/pages/Home/Experts';
import Online from '../components/pages/Home/Online';
import Tutors from '../components/pages/Home/Tutors';
import Staff from '../components/pages/Home/Staff';
import Board from '../components/pages/Home/Board';
import Overview from '../components/pages/Home/Overview';
import Rates from '../components/pages/Home/Rates';
import Gifts from '../components/pages/Home/Gifts';
import Team from '../components/pages/Home/Team';

export default {
    components: {
        DefaultLayout,
        PageHead,
        Conditions,
        Teachers,
        Experts,
        Online,
        Tutors,
        Staff,
        Board,
        Overview,
        Rates,
        Gifts,
        Team,
    }
}
</script>