<template functional>
    <div class="about">
        <div class="desc">
            <div class="title">
                У нас
            </div>
            <div class="subtitle">
                готовят преподаватели — действующие эксперты ЕГЭ с 2012 года, которые участвуют
                в проверке заданий на экзаменах
            </div>
        </div>
        <div class="info">
            <div class="title">
                Эксперт расскажет
            </div>
            <ul class="list">
                <li class="list-item">
                    Какие задания у тебя будут на экзамене
                </li>
                <li class="list-item">
                    Как правильно к ним подготовиться
                </li>
                <li class="list-item">
                    Как сформулировать ответы, <br>
                    чтобы получить максимальный балл
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.about {
    width: 100%;
    max-width: 445px;
    margin-right: 30px;
    .desc {
        margin-bottom: 130px;
        .title {
            font-size: 50px;
            line-height: 105%;
            margin-bottom: 10px;
            @media screen and (max-width: 767px) {
                font-size: 40px;
            }
        }
        .subtitle {
            font-size: 18px;
            line-height: 110%;
            @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 23px;
            }
        }
        @media screen and (max-width: 1024px) {
            max-width: 450px;
            margin-bottom: 0;
        }
        @media screen and (max-width: 1023px) {
            max-width: 210px;
        }
        @media screen and (max-width: 767px) {
            max-width: none;
            margin-bottom: 45px;
        }
    }
    .info {
        position: relative;
        &:after {
            content: "";
            background: #f4f4f4;
            width: 450px;
            height: 190px;
            position: absolute;
            top: 0;
            left: -20px;
            z-index: -1;
            border-radius: 50%;
            @media screen and (max-width: 1023px) {
                left: 20px;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                left: 0;
            }
        }
        .title {
            font-size: 30px;
            line-height: 44px;
            margin-bottom: 5px;
            @media screen and (max-width: 767px) {
                font-size: 24px;
                line-height: 35px;
            }
        }
        .list {
            padding-left: 30px;
            margin: 0;
            &-item {
                position: relative;
                list-style-type: none;
                font-size: 18px;
                line-height: 110%;
                margin-bottom: 20px;
                &:before {
                    content: "";
                    position: absolute;
                    left: -30px;
                    width: 20px;
                    height: 20px;
                    background-image: url('./assets/tick-sign.png');
                    background-size: contain;
                }
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                    line-height: 23px;
                }
            }
        }
        @media screen and (max-width: 1024px) {
            max-width: 450px;
            margin-left: auto;
        }
        @media screen and (max-width: 1023px) {
            padding-left: 50px;
            top: -50px;
        }
        @media screen and (max-width: 767px) {
            top: 0;
            padding: 0;
            margin-bottom: 50px;
        }
    }
    @media screen and (max-width: 1200px) {
        max-width: 345px;
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
        max-width: none;
    }
    @media screen and (max-width: 1023px) {
        margin-right: 0;
    }
}
</style>