<template>
    <div class="teachers">
        <tabs>
            <tab
                v-for="item in teachers" 
                :key="item.title"
                :name="item.title"
                :color="item.color"
                :selected="item.selected">
                <div class="teacher">
                    <div class="avatar">
                        <img :src="item.avatar" :alt="item.name">
                        <div class="statistics">
                            <div class="points">
                                <div class="points-num">
                                    {{item.points}}
                                </div>
                                <div class="points-text">
                                    баллов в среднем набирают ученики
                                </div>
                            </div>
                            <div class="students">
                                <div class="students-num">
                                    {{item.students}}
                                </div>
                                <div class="students-text">
                                    учеников <br> сдали ЕГЭ
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            {{item.name}}
                        </div>
                        <div class="desc">
                            {{item.desc}}
                        </div>
                    </div>
                </div>
            </tab>
        </tabs>
    </div>
</template>

<script>
import Tabs from './Tabs';
import Tab from './Tab';
    export default {
        components: {
            Tabs,
            Tab,
        },
        data() {
            return {
                teachers: [
                    {
                        title: 'Математика',
                        selected: false,
                        avatar: '',
                        name: 'Алексей Романов',
                        desc: 'Эксперт по математике',
                        points: 85,
                        students: 650,
                        color: '#71a95a'
                    },
                    {
                        title: 'Русский язык',
                        selected: true,
                        avatar: require('./assets/teacher.png'),
                        name: 'Алексей Романов',
                        desc: 'Эксперт по русскому языку',
                        points: 93,
                        students: 350,
                        color: '#4baea0'
                    },
                    {
                        title: 'История',
                        selected: false,
                        avatar: '',
                        name: 'Алексей Романов',
                        desc: 'Эксперт по истории',
                        points: 93,
                        students: 350,
                        color: '#ffad87',
                    },
                    {
                        title: 'Обществознание',
                        selected: false,
                        avatar: '',
                        name: 'Алексей Романов',
                        desc: 'Эксперт по обществознанию',
                        points: 85,
                        students: 650,
                        
                    },
                    {
                        title: 'Физика',
                        selected: false,
                        avatar: '',
                        name: 'Алексей Романов',
                        desc: 'Эксперт по физике',
                        points: 93,
                        students: 350,
                        color: '#3e64ff',
                    },
                    {
                        title: 'Литература',
                        selected: false,
                        avatar: '',
                        name: 'Алексей Романов',
                        desc: 'Эксперт по литературе',
                        points: 85,
                        students: 650,
                        color: '#64c4ed',
                    },
                ]
            }
        },
    }
</script>

<style lang="scss" scoped>
.teacher {
    position: relative;
    max-width: 350px;
    .avatar {
        height: 455px;
        width: 350px;
        margin-bottom: 30px;
        position: relative;
        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
        @media screen and (max-width: 1023px) {
            width: 210px;
            height: 274px;
        }
        @media screen and (max-width: 767px) {
            width: 158px;
            height: 206px;
            margin-bottom: 15px;
        }
    }
    .info {
        .name {
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 10px;
            @media screen and (max-width: 1023px) {
                font-size: 18px;
                line-height: 26px;
            }
            @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 23px;
            }
        }
        .desc {
            font-size: 14px;
            line-height: 20px;
            @media screen and (max-width: 767px) {
                width: 158px;
            }
        }
    }
}
.statistics {
    position: absolute;
    bottom: 0;
    right: -315px;
    width: 285px;
    height: 125px;
    background: #17212B;
    padding: 25px 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .points, .students {
        display: flex;
        color: #ffffff;
        height: 45px;
        &-num {
            min-width: 62px;
            padding-right: 10px;
            border-right: 2px solid #4baea0;
            font-size: 30px;
            line-height: 30px;
            text-align: right;
        }
        &-text {
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-size: 14px;
            line-height: 105%;
        }
    }
    .points {
        margin-bottom: 15px;
    }
    &:after {
        content: '';
        background: url('./assets/rectangle.png') no-repeat center;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    @media screen and (max-width: 1023px) {
        bottom: -130px;
    }
    @media screen and (max-width: 767px) {
        left: 0;
        bottom: -220px;
        width: 220%;
    }
    @media screen and (max-width: 365px) {
        width: 203%;
    }
    @media screen and (max-width: 340px) {
        width: 180%;
    }
}
</style>