<template>
    <div class="intro">
        <div class="text">
            <h1 class="title">Подготовим онлайн к экзаменам на 86+ баллов с экспертами ЕГЭ</h1>
            <p class="subtitle">в 4 раза дешевле обычного репетитора</p>
        </div>
        <div class="actions">
            <button class="btn btn-primary">начать подготовку</button>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
    .intro {
        position: relative;
        z-index: 10;
        .text {
            margin-bottom: 80px;
            .title {
                color: #ffffff;
                font-size: 50px;
                line-height: 110%;
                @media screen and (max-width: 1023px) {
                    font-size: 45px;
                    margin-bottom: 10px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
            }
            .subtitle {
                font-size: 18px;
                line-height: 26px;
                color: #DDB6C6;
            }
            @media screen and (max-width: 1023px) {
                margin-bottom: 55px;
            }
            @media screen and (max-width: 767px) {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }
</style>