html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Twentytwelve-Sans-N';
  margin: 0;
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
  min-width: 320px;
  color: #17212b;
}

a {
  text-decoration: none;
}

a.disable {
  cursor: default;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

@font-face {
  font-family: 'Twentytwelve-Sans-N';
  src: url(/fonts/TwentytwelveSansN.eot?59e1cb5e168c82af6d8ec5bf08f71651);
  src: url(/fonts/TwentytwelveSansN.eot?59e1cb5e168c82af6d8ec5bf08f71651) format("embedded-opentype"), url(/fonts/TwentytwelveSansN.woff2?cea6095d987ad64c521d10bb57b5cf0e) format("woff2"), url(/fonts/TwentytwelveSansN.woff?dfab13d3bb0c3f2ac4812e8cf4aad1d0) format("woff"), url(/fonts/TwentytwelveSansN.ttf?2dd5c6cd068464263b015a5bb332f7c8) format("truetype"), url(/fonts/TwentytwelveSansN.svg?820b394014ce289672f14008fa207cc2) format("svg");
  font-weight: normal;
  font-style: normal;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: #DDB6C6;
  font-size: 18px;
  line-height: 26px;
  color: #262626;
  padding: 17px 45px;
}

.container {
  max-width: 1140px !important;
  padding: 0 15px;
  margin: 0 auto !important;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 48em) {
  .container {
    width: 100% !important;
  }
}

