<template functional>
    <div class="rates">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <span>супер скул</span> эффективнее и выгоднее репетиторов и большинства курсов
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>cупер <br> cкул</th>
                            <th>другие онлайн <br> курсы</th>
                            <th>школьные <br> учителя</th>
                            <th>офлайн <br> курсы</th>
                            <th>репетиторы</th>
                        </tr>
                        <tr>
                            <td>Выгодное обучение</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td>Нет зависимости <br> от времени и места</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td>Интересный формат <br> обучения</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td>Постоянная поддержка <br> и советы тьюторов</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td>Преподают эксперты ЕГЭ</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td>Практические задания <br> от экспертов ЕГЭ</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td>Проверка заданий <br> экспертами ЕГЭ</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td>Сохранение обучающих <br> материалов до экзамена</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td>Ценные призы</td>
                            <td><img src="./assets/tick-sign.png" alt=""></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                            <td><div class="fold"></div></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><div class="sum">145</div>руб./час</td>
                            <td><div class="sum">200</div>руб./час</td>
                            <td><div class="sum">0</div> руб./час</td>
                            <td><div class="sum">1000</div>руб./час</td>
                            <td><div class="sum">1200</div>руб./час</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.rates {
    padding-top: 50px;
    margin-bottom: 30px;
    .title {
        font-size: 30px;
        line-height: 110%;
        max-width: 530px;
        margin-bottom: 30px;
        span {
            color: #DDB6C6;
        }
        @media screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 35px;
        }
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        display: inline-block;
    }
    .table tr:first-child {
        th:nth-child(2) {
            color: #DDB6C6;
        }
    }
    .table tr:nth-child(even) {
        background: #f4f4f4;
        border-right: 1px solid #f4f4f4;
    }
    .table tr:nth-child(odd) {
        &:not(:first-child):not(:last-child) {
            border-left: 1px solid #f4f4f4;
            border-right: 1px solid #f4f4f4;
        }
    }
    .table tr {
        td:first-child {
            padding-left: 20px;
        }
        td:not(:first-child) {
            text-align: center;
        }
        &:last-child {
            td {
                padding-top: 20px;
                color: #c2c2c2;
                .sum {
                    font-size: 30px;
                    line-height: 44px;
                }
                &:nth-child(2) {
                    color: #000000;
                }
            }
        }
    }
    .table th {
        height: 60px;
        text-align: center;
        padding-bottom: 20px;
        min-width: 200px;
    }
    .table td {
        font-size: 16px;
        line-height: 110%;
        color: #000000;
        height: 65px;
        min-width: 200px;
    }
    .fold {
        background: #c2c2c2;
        width: 20px;
        height: 4px;
        margin: 0 auto;
    }
    .col-xs-12 {
         @media screen and (max-width: 767px) {
            overflow-x: scroll;
        }
    }
}

</style>