<template functional>
    <header class="header">
        <div class="container">
            <div class="header-nav">
                <div class="logo">
                    <a href="/">
                        cупер cкул
                    </a>
                </div>
                <div class="social-links">
                    <a href="/">ютюб</a>
                    <a href="/">вк</a>
                    <a href="/">инста</a>
                </div>
                <div class="mobile-nav">
                    <div class="btn-mobile">
                        меню
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
    .header {
        width: 100%;
        position: absolute;
        left: 0;
        top: 30px;
        z-index: 10;
        &-nav {
            display: flex;
            justify-content: space-between;
        }
        .logo {
            a {
                font-size: 36px;
                line-height: 52px;
                color: #ffffff;
                @media screen and (max-width: 1023px) {
                    font-size: 30px;
                    line-height: 44px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                    line-height: 29px;
                }
            }
            
        }
        .social-links {
            a {
                font-size: 20px;
                line-height: 29px;
                color: #DDB6C6;
                &:not(:last-child) {
                    margin-right: 18px;
                }
            }
            @media screen and (max-width: 767px) {
                display: none
            }
        }
        .mobile-nav {
            font-size: 20px;
            line-height: 29px;
            color: #DDB6C6;
            @media screen and (min-width: 768px) {
                display: none
            }
        }
        @media screen and (max-width: 767px) {
            top: 20px;
        }
    }
</style>