<template>
    <div class="tabs">
        <ul class="list">
            <li 
                v-for="tab in tabs"
                :key="tab.name"
                class="list-item"
                :class="{ 'is-active': tab.isActive }"
            >
                <a
                    :style="{'color': tab.color}"
                    @click="selectTab(tab)">{{ tab.name }}</a>
            </li>
        </ul>
        <div class="tabs-details">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        // color: {
        //     type: String,
        //     required: true,
        // }
    },
    data() {
        return {
            tabs: [],
        }
    },
    created() {
        this.tabs = this.$children;
    },
    methods: {
        selectTab(selectedTab) {
            this.tabs.forEach(tab => {
                tab.isActive = (tab.name == selectedTab.name);
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.tabs {
    display: flex;
    flex-direction: row-reverse;
    .list {
        margin: 0 0 0 30px;
        padding: 0;
        list-style: none;
        &-item {
            cursor: pointer;
            font-size: 20px;
            line-height: 29px;
            font-weight: normal;
            @media screen and (max-width: 1023px) {
                font-size: 16px;
                line-height: 23px;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 10px;
            }
        }
        @media screen and (max-width: 340px) {
            margin-left: 10px;
        }
    }
    @media screen and (max-width: 1200px) {
        justify-content: flex-end;
    }
}
.is-active {
    // color: #4baea0;
}
</style>