<template functional>
    <div class="online">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="image"></div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="info">
                        <div class="title">
                            Занимайся
                            в удобное время
                            в любом месте
                        </div>
                        <div class="subtitle">
                            Записи всех занятий, задания,
                            разбор&nbsp;заданий и сообщения
                            от преподавателей всегда доступны
                            в личном кабинете до самого экзамена.
                        </div>
                        <a href="#" class="link">Попробовать сейчас</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.online {
    background: #262626;
    height: 800px;
    overflow: hidden;
    padding-top: 230px;
    .container {
        height: inherit;
        position: relative;
        &:after {
            content: "";
            background: #ddb6c6;
            position: absolute;
            bottom: 90px;
            width: 840px;
            height: 840px;
            border-radius: 50%;
            @media screen and (max-width: 1023px) {
                width: 472px;
                height: 472px;
                bottom: -90px;
            }
            @media screen and (max-width: 1023px) {
                width: 472px;
                height: 472px;
                bottom: 0;
                left: 90px;
            }
            @media screen and (max-width: 767px) {
                width: 430px;
                height: 430px;
                bottom: -150px;
                left: -80px;
            }
        }
    }
    .row {
        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .image {
        background: url('./assets/untitled-project.png') no-repeat center;
        background-position-x: -20px;
        width: 681px;
        height: 511px;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 1023px) {
            background-size: contain;
            width: 450px;
            height: 338px;
            top: 150px;
        }
        @media screen and (max-width: 1023px) {
            left: 40px;
        }
        @media screen and (max-width: 767px) {
            width: 310px;
            height: 330px;
            left: auto;
            top: auto;
        }
    }
    .info {
        position: relative;
        z-index: 1;
        text-align: right;
        .title {
            font-size: 50px;
            line-height: 110%;
            color: #ffffff;
            margin-bottom: 10px;
            @media screen and (max-width: 1023px) {
                font-size: 40px;
            }
            @media screen and (max-width: 767px) {
                font-size: 30px;
                line-height: 105%;
                margin-bottom: 20px;
                max-width: 240px;
                margin-left: auto;
            }
        }
        .subtitle {
            font-size: 18px;
            line-height: 110%;
            color: #ffffff;
            margin-bottom: 20px;
            max-width: 350px;
            margin-left: auto;
            @media screen and (max-width: 1023px) {
                font-size: 16px;
            }
            @media screen and (max-width: 767px) {
                max-width: 310px;
            }
        }
        .link {
            font-size: 18px;
            line-height: 26px;
            color: #DDB6C6;
        }
    }
    @media screen and (max-width: 1023px) {
        height: 550px;
        padding-top: 80px;
    }
    @media screen and (max-width: 767px) {
        height: 520px;
        padding-top: 20px;
    }
}
</style>