<template>
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <intro></intro>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Intro from './Intro'
export default {
    name: "page-head",
    components: {
        Intro
    }
}
</script>

<style lang="scss" scoped>
.page-head {
    background: #262626;
    position: relative;
    width: 100%;
    height: 800px;
    z-index: 1;
    padding: 240px 0 160px;
    margin-bottom: 60px;
    &:before {
        content: "";
        background: url('./assets/head-bg.png') no-repeat right;
        width: 810px;
        height: 800px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        @media screen and (max-width: 1200px) {
            background-position-x: -400px;
        }
        @media screen and (max-width: 1023px) {
            width: 500px;
            height: 550px;
            background-size: cover;
            background-position-x: -300px;
        }
        @media screen and (max-width: 767px) {
            width: 260px;
            height: 380px;
        }
        @media screen and (max-width: 340px) {
            background-position-y: 70px;
        }
    }
    @media screen and (max-width: 1023px) {
        height: 660px;
        padding: 175px 0 135px;
    }
    @media screen and (max-width: 767px) {
        height: 590px;
        padding: 100px 0 0;
        margin-bottom: 30px;
    }
}
</style>