<template>
    <div class="staff">
        <div class="container container-carousel">
            <swiper :options="swiperOption">
                <swiper-slide>
                    <div class="slide-info">
                        <div class="img">
                            <img src="./assets/slide-1.png" alt="">
                        </div>
                        <div class="name">
                            <div class="title">Алексей Романов</div>
                            <div class="subject">Тьютор по русскому языку</div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="slide-info">
                        <div class="img">
                            <img src="./assets/slide-2.png" alt="">
                        </div>
                        <div class="name">
                            <div class="title">Алексей Романов</div>
                            <div class="subject">Тьютор по русскому языку</div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="slide-info">
                        <div class="img">
                            <img src="./assets/slide-3.png" alt="">
                        </div>
                        <div class="name">
                            <div class="title">Алексей Романов</div>
                            <div class="subject">Тьютор по русскому языку</div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="slide-info">
                        <div class="img">
                            <img src="./assets/slide-4.png" alt="">
                        </div>
                        <div class="name">
                            <div class="title">Алексей Романов</div>
                            <div class="subject">Тьютор по русскому языку</div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="slide-info">
                        <div class="img">
                            <img src="./assets/slide-2.png" alt="">
                        </div>
                        <div class="name">
                            <div class="title">Алексей Романов</div>
                            <div class="subject">Тьютор по русскому языку</div>
                        </div>
                    </div>
                </swiper-slide>
            </swiper>
            <div class="carousel-swiper-next" slot="button-next"></div>
            <div class="carousel-swiper-prev" slot="button-prev"></div>
        </div>
    </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'

import { swiper, swiperSlide } from 'vue-awesome-swiper'
export default {
    components: {
        swiper,
        swiperSlide
    },
    data() {
      return {
        swiperOption: {
          slidesPerView: 'auto',
          centeredSlides: true,
          spaceBetween: 30,
          freeMode: true,
          loop: true,
          grabCursor: true,
          pagination: false,
          autoplay: {
            delay: 3000,
            disableOnInteraction: false
          },
          navigation: {
            prevEl: '.carousel-swiper-prev',  
            nextEl: '.carousel-swiper-next',
          },
        }
      }
    }
}
</script>

<style lang="scss" scoped>
.staff {
    overflow-x: hidden;
    padding: 90px 0 20px;
    margin-bottom: 100px;
    .container-carousel {
        position: relative;
    }
    .slide-info {
        .img {
            margin-bottom: 30px;
            img {
                max-width: 350px;
                max-height: 360px;
                object-fit: cover;
                @media screen and (max-width: 1023px) {
                    max-width: 210px;
                }
            }
        }
        .name {
            .title {
                font-size: 24px;
                line-height: 35px;
                margin-bottom: 6px;
            }
            .subject {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    @media screen and (max-width: 1023px) {
        margin-bottom: 50px;
    }
}
.carousel-swiper-prev {
    left: 0;
    transform: rotate(180deg);
    @media screen and (max-width: 1023px) {
        left: 40px;
    }
    @media screen and (max-width: 767px) {
        left: 15px;
    }
}
.carousel-swiper-next {
    top: 30px;
    left: 285px;
    @media screen and (max-width: 1023px) {
        left: 140px;
    }
    @media screen and (max-width: 767px) {
        left: 110px;
    }
}
.carousel-swiper-prev, .carousel-swiper-next {
    background: url('./assets/arrow-carousel.png') no-repeat center;
    position: absolute;
    top: -50px;
    width: 65px;
    height: 20px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.6;
    }
}

.swiper-container {
    width: 150%;
}
.swiper-slide {
    width: 21%;
    @media screen and (max-width: 1200px) {
        width: 23%;
    }
    @media screen and (max-width: 1023px) {
        width: 20%;
    }
    @media screen and (max-width: 767px) {
        width: 38%;
    }
}
</style>