.btn {
    outline: none;
    border: none;
    cursor: pointer;
    &-primary {
        background: #DDB6C6;
        font-size: 18px;
        line-height: 26px;
        color: #262626;
        padding: 17px 45px;
    }
}