<template>
    <div class="overview">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="description">
                        <div class="count">630</div>
                        <div class="spacer"></div>
                        <div class="text">
                            наших учеников уже сдали ЕГЭ
                            и поступили в лучшие ВУЗы страны на бюджет
                        </div>
                    </div>
                </div>
            </div>
            <div class="row scroll">
                <div class="col-md-6 col-sm-6 card">
                    <div class="info">
                        <div class="media">
                            <img src="./assets/media-1.png" alt="">
                            <div class="icon-play">
                                <img src="./assets/icon-play.svg" alt="">
                            </div>
                        </div>
                        <div class="about">
                            <div class="name">
                                Кирилл Артамонов
                            </div>
                            <div class="desc">
                                "Год занимался с репетитором. Даже близко такого эффекта не было.
                                А тут тьюторы каждую тему по полочкам раскладывают так,
                                что с первого раза все понимаю..."
                            </div>
                        </div>
                        <div class="data">
                            <div class="subject rus-lang">
                                <div class="title">
                                    Русский язык
                                </div>
                                <div class="table">
                                    <div class="up">
                                        67
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="to">
                                        96
                                    </div>
                                </div>
                            </div>
                            <div class="subject social-science">
                                <div class="title">
                                    Обществознание
                                </div>
                                <div class="table">
                                    <div class="up">
                                        67
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="to">
                                        86
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 card">
                    <div class="info">
                        <div class="media">
                            <img src="./assets/media-2.png" alt="">
                            <div class="icon-play">
                                <img src="./assets/icon-play.svg" alt="">
                            </div>
                        </div>
                        <div class="about">
                            <div class="name">
                                Измаиль Валеев
                            </div>
                            <div class="desc">
                                "Год занимался с репетитором. Даже близко такого эффекта не было. 
                                А тут тьюторы каждую тему по полочкам раскладывают так,
                                что с первого раза все понимаю..."
                            </div>
                        </div>
                        <div class="data">
                            <div class="subject physics">
                                <div class="title">
                                    Физика
                                </div>
                                <div class="table">
                                    <div class="up">
                                        67
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="to">
                                        96
                                    </div>
                                </div>
                            </div>
                            <div class="subject eng-lang">
                                <div class="title">
                                    Англ. язык
                                </div>
                                <div class="table">
                                    <div class="up">
                                        67
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="to">
                                        86
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.overview {
    background: #262626;
    height: 790px;
    padding-bottom: 40px;
    .description {
        display: flex;
        .count {
            font-size: 150px;
            line-height: 105%;
            letter-spacing: -0.03em;
            color: #ffffff;
            position: relative;
            top: -11px;
            &:before {
                content: "более";
                position: absolute;
                top: -25px;
                left: 0;
                font-size: 24px;
                line-height: 35px;
                color: #17212B;
                letter-spacing: normal;
                @media screen and (max-width: 767px) {
                    top: -30px;
                }
            }
            @media screen and (max-width: 767px) {
                font-size: 100px;
                line-height: 90%;
                top: 0;
            }
        }
        .spacer {
            width: 140px;
            height: 4px;
            background: #3E64FF;
            margin-top: 45px;
            margin-left: 45px;
            @media screen and (max-width: 767px) {
                margin-left: 0;
                margin-top: 0;
                width: 160px;
            }
        }
        .text {
            font-size: 24px;
            line-height: 110%;
            color: #ffffff;
            margin-top: 30px;
            margin-left: 20px;
            @media screen and (max-width: 767px) {
                margin-top: 15px;
                margin-left: 0;
                font-size: 16px;
                line-height: 23px;
                max-width: 290px;
                margin-bottom: 50px;
            }
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    .info {
        background: #ffffff;
        max-width: 540px;
        padding: 65px 65px 30px;
        .media {
            position: relative;
            max-height: 230px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            &:after {
                content: "";
                background: rgba(53, 53, 53, 0.2);
                position: absolute;
                top: 0;
                left: 0;
                height: 230px;
                width: 100%;
                @media screen and (max-width: 1023px) {
                    height: 100%;
                }
            }
            .icon-play {
                position: absolute;
                z-index: 5;
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
            img {
                width: 100%;
            }
        }
        .about {
            margin-bottom: 50px;
            .name {
                font-size: 24px;
                line-height: 35px;
                margin-bottom: 6px;
            }
            .desc {
                font-size: 16px;
                line-height: 110%;
            }
        }
        .data {
            display: flex;
            .subject {
                &:first-child {
                    margin-right: 100px;
                    @media screen and (max-width: 1023px) {
                        margin-right: 0;
                        margin-bottom: 25px;
                    }
                }
                &.rus-lang {
                    .title {
                        color: #4BAEA0;
                    }
                    .spacer {
                        background: #4BAEA0;
                    }
                }
                &.social-science {
                    .title {
                        color: #FFDCF7;;
                    }
                    .spacer {
                        background: #FFDCF7;;
                    }
                }
                &.physics {
                    .title {
                        color: #3E64FF;
                    }
                    .spacer {
                        background: #3E64FF;
                    }
                }
                &.eng-lang {
                    .title {
                        color: #BBEAA6;
                    }
                    .spacer {
                        background: #BBEAA6;
                    }
                }
            }
            .title {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 20px;
            }
            .table {
                display: flex;
                .up, .to {
                    position: relative;
                    font-size: 24px;
                    line-height: 35px;
                    &:before {
                        position: absolute;
                        top: -18px;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .up {
                    padding-right: 35px;
                    &:before {
                        content: "до";
                    }
                }
                .to {
                    padding-left: 35px;
                    &:before {
                        content: "после";
                    }
                }
                .spacer {
                    width: 2px;
                    background: #17212B;
                    height: 40px;
                    position: relative;
                    top: -12px;
                }
            }
            @media screen and (max-width: 1023px) {
                flex-direction: column;
            }
        }
        @media screen and (max-width: 1023px) {
            padding: 20px 20px 30px;
        }
        @media screen and (max-width: 767px) {
            width: 300px;
            margin-right: 20px;
        }
    }
    .col-md-6 {
        &:last-child {
            .info {
                margin-left: auto;
            }
        }
    }
    @media screen and (max-width: 1023px) {
        height: 737px;
    }
    @media screen and (max-width: 1023px) {
        height: auto;
    }
}
.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
     -webkit-overflow-scrolling: touch;
}
.card {
    flex: 0 0 auto;
}
</style>