<template functional>
    <div class="board">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        В Супер-группе 84 темы с теорией, практикой и проверкой заданий экспертами ЕГЭ
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="info">
                        <div class="title">
                            Теория понятным <br> тебе языком
                        </div>
                        <div class="subtitle">
                            Эксперт ЕГЭ дает только ту информацию,
                            которая пригодится тебе на экзамене
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="img">
                        <img src="./assets/illustration-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row d-flex column-reverse">
                <div class="col-md-6 col-sm-6">
                    <div class="img">
                        <img src="./assets/illustration-2.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="info">
                        <div class="title">
                            Практические задания, которые возможно будут на экзамене <br>
                            в этом году
                        </div>
                        <div class="subtitle">
                            Эксперты ЕГЭ знают о возможных заданиях из первоисточника
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="info">
                        <div class="title">
                            В специальном чате
                            ты получишь ответ на любой вопрос от преподавателя, куратора 
                            или сверстника
                        </div>
                        <div class="action">
                            <button class="btn btn-primary">
                                Начать подготовку к ЕГЭ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="img">
                        <img src="./assets/illustration-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.board {
    margin-bottom: 30px;
    .title {
        font-size: 50px;
        line-height: 110%;
        text-align: center;
        margin-bottom: 105px;
        @media screen and (max-width: 1023px) {
            font-size: 40px;
            line-height: 105%;
        }
        @media screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 105%;
            text-align: left;
            margin-bottom: 50px;
        }
    }
    .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            font-size: 30px;
            line-height: 110%;
            text-align: left;
            margin-bottom: 10px;
            @media screen and (max-width: 1023px) {
                font-size: 24px;
                line-height: 110%;
            }
            @media screen and (max-width: 767px) {
                font-size: 18px;
                line-height: 26px;
            }
        }
        .subtitle {
            font-size: 18px;
            line-height: 110%;
            max-width: 370px;
            @media screen and (max-width: 1023px) {
                font-size: 16px;
                line-height: 110%;
            }
            @media screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
        .action {
            margin-top: 70px;
            @media screen and (max-width: 767px) {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .img {
        @media screen and (max-width: 1023px) {
            text-align: center;
            margin-bottom: 45px;
            img {
                width: 330px;
                height: 330px;
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
}

.d-flex {
    @media screen and (max-width: 767px) {
        display: flex;
    }
}
.column-reverse {
    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
    }
}
</style>