<template>
    <div class="teachers">
        <div class="container">
            <div class="content">
                <about/>
                <teacher/>
            </div>
        </div>
    </div>
</template>

<script>
import About from './About';
import Teacher from './Teacher';
    export default {
        components: {
            About,
            Teacher,
        }
    }
</script>

<style lang="scss" scoped>
.content {
    display: flex;
    margin-bottom: 190px;
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 160px;
    }
}
</style>