<template>
    <div class="conditions">
        <div class="container">
            <div class="row">
                <div 
                    class="col-sm-6 col-xs-12"
                    v-for="item in conditions"
                    :key="item.title"
                >
                    <div class="conditions-item">
                        <div class="title">
                            {{item.title}}
                        </div>
                        <div class="subtitle">
                            {{item.subtitle}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                conditions: [
                    {
                        title: "Обширная программа✌️",
                        subtitle: "Ученик проходит 84 занятий экспертов ЕГЭ по каждому предмету с теорией, практикой и проверкой заданий.",
                    },
                    {
                        title: "Приятная стоимость",
                        subtitle: "Стоимость занятия в 4 раза дешевле чем у репетиторов",
                    },
                    {
                        title: "Удобно",
                        subtitle: "Занятия проходят онлайн. Записи и материалы доступны в личном кабинете.",
                    },
                    {
                        title: "Каааайф 😍",
                        subtitle: "Занимайся, получай баллы и обменивай на технику, развлечения и другие призы.",
                    },
                ]
            }
        },
    }
</script>

<style lang="scss" scoped>
    .conditions {
        margin-bottom: 100px;
        .container {
            position: relative;
       }
        &-item {
            max-width: 385px;
            margin-bottom: 70px;
            .title {
                font-size: 30px;
                line-height: 44px;
                color: #17212B;
                @media screen and (max-width: 1023px) {
                    font-size: 24px;
                    line-height: 110%;
                    margin-bottom: 20px;
                }
                @media screen and (max-width: 767px) {
                    line-height: 35px;
                    margin-bottom: 10px;
                }
            }
            .subtitle {
                font-size: 18px;
                line-height: 110%;
                color: #17212B;
                @media screen and (max-width: 1023px) {
                    font-size: 16px;
                    line-height: 110%;
                    max-width: 330px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                    line-height: 23px;
                }
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        .row {
            border-bottom: 2px solid #17212b;
            .col-lg-6:nth-child(even) {
                .conditions-item {
                    margin: 0 auto;
                }
            }
            @media screen and (max-width: 767px) {
                padding-bottom: 30px
            }
        }
        @media screen and (max-width: 1023px) {
            margin-bottom: 45px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
</style>