<template>
    <div 
        class="tab-item" 
        v-show="isActive">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        name: { 
            type: String,
            required: true,
        },
        selected: Boolean,
        // color: {
        //     type: String,
        //     required: true,
        // }
    },
    
    data() {
        return {
            isActive: false
        };
    },
    mounted() {
        this.isActive = this.selected;
    }
}
</script>