<template functional>
    <footer class="footer">
        <div class="container">
            <div class="footer-nav">
                <div class="logo">
                    <a href="/">
                        cупер cкул
                    </a>
                </div>
                <div class="social-links">
                    <a href="/">ютюб</a>
                    <a href="/">вк</a>
                    <a href="/">инста</a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
    .footer {
        width: 100%;
        padding-bottom: 20px;
        &-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo {
            a {
                font-size: 36px;
                line-height: 52px;
                color: #262626;
                @media screen and (max-width: 1023px) {
                    font-size: 30px;
                    line-height: 44px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                    line-height: 29px;
                }
            }
            
        }
        .social-links {
            a {
                font-size: 20px;
                line-height: 29px;
                color: #DDB6C6;
                &:not(:last-child) {
                    margin-right: 18px;
                }
            }
        }
        @media screen and (max-width: 767px) {
            padding-top: 50px;
            padding-bottom: 160px;
        }
    }
</style>