<template functional>
    <div class="tutors">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="info">
                        <div class="title">
                            Тебе <br>
                            на протяжении года
                            помогают тьюторы
                        </div>
                        <div class="subtitle">
                            Тьюторы—студенты,
                            которые сдали ЕГЭ на 96+ баллов
                            и поступили в <span>ТОПовые ВУЗы</span>
                        </div>
                        <ul class="list">
                            <li class="item">объясняют сложные темы понятным языком.</li>
                            <li class="item">знают как управлять временем, распределять нагрузку, мотивировать себя и правильно отдыхать.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="image"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.tutors {
    background: #f4f4f4;
    padding: 95px 0 170px;
    position: relative;
    .info {
        color: #17212b;
        .title {
            font-size: 40px;
            line-height: 110%;
            margin-bottom: 10px;
            @media screen and (max-width: 767px) {
                font-size: 24px;
                line-height: 105%;
                margin-bottom: 15px;
            }
        }
        .subtitle {
            font-size: 18px;
            line-height: 110%;
            margin-bottom: 70px;
            span {
                border-bottom: 4px solid #3e64ff;
            }
            @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 23px;
                max-width: 280px;
                margin-bottom: 40px;
            }
        }
        .list {
            margin: 0;
            padding: 0 0 0 25px;
            .item {
                font-size: 18px;
                line-height: 110%;
                list-style: none;
                position: relative;
                &:nth-child(1) {
                    margin-bottom: 30px;
                    &:before {
                        content: '🤘';
                        position: absolute;
                        left: -25px;
                    }
                    @media screen and (max-width: 767px) {
                        margin-bottom: 18px;
                    }
                }
                &:nth-child(2) {
                    &:before {
                        content: '🤤';
                        position: absolute;
                        left: -25px;
                    }
                }
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                    line-height: 23px;
                }
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
    }
    .image {
        background: url('./assets/tutors-img.png') no-repeat center;
        background-size: contain;
        width: 705px;
        height: 520px;
        position: absolute;
        right: 0;
        top: 40px;
        @media screen and (max-width: 1200px) {
            background-position-x: 200px;
        }
        @media screen and (max-width: 1024px) {
            width: 399px;
            height: 294px;
            bottom: 30px;
            top: auto;
            background-position-x: 0px;
        }
        @media screen and (max-width: 767px) {
            position: static;
            width: 100%;
            height: 253px;
            background-size: cover;
        }
    }
    @media screen and (max-width: 1023px) {
        padding: 40px 0 100px;
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0 0;
    }
}
</style>