<template functional>
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="image"></div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="info">
                        <div class="title">
                            привет! <br>
                            мы - команда
                            cуперcкул
                        </div>
                        <div class="subtitle">
                            эксперты, тьюторы и хелпмены помогут тебе набрать необходимые баллы 
                            ЕГЭ для поступления
                            в желаемый ВУЗ
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary">Начать обучение</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.team {
    padding-bottom: 30px;
    .image {
        background: url('./assets/team.png') no-repeat center;
        background-size: contain;
        width: 635px;
        height: 430px;
        @media screen and (max-width: 1200px) {
            width: 560px;
        }
        @media screen and (max-width: 1023px) {
            width: 369px;
            height: 260px;
            position: absolute;
            left: 0;
        }
        @media screen and (max-width: 767px) {
            position: static;
            width: 100%;
            background-size: cover;
            margin-bottom: 45px;
        }
    }
    .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            font-size: 50px;
            line-height: 110%;
            margin-bottom: 10px;
            max-width: 330px;
            @media screen and (max-width: 1023px) {
                font-size: 40px;
                line-height: 105%;
            }
            @media screen and (max-width: 767px) {
                font-size: 30px;
                br {
                    display: none;
                }
            }
        }
        .subtitle {
            font-size: 16px;
            line-height: 110%;
            margin-bottom: 30px;
            @media screen and (max-width: 1023px) {
                font-size: 16px;
                line-height: 105%;
                margin-bottom: 20px;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
        .actions {
            .btn {
                width: 350px;
                @media screen and (max-width: 576px) {
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 1023px) {
        position: relative;
    }
}
</style>