html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Twentytwelve-Sans-N';
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
    color: #17212b;
}

a {
    text-decoration: none;
    &:hover {}
    &.disable {
        cursor: default;
    }
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}