@font-face {
    font-family: 'Twentytwelve-Sans-N';
    src: url('../../assets/fonts/TwentytwelveSansN.eot');
    src: url('../../assets/fonts/TwentytwelveSansN.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/TwentytwelveSansN.woff2') format('woff2'), url('../../assets/fonts/TwentytwelveSansN.woff') format('woff'), url('../../assets/fonts/TwentytwelveSansN.ttf') format('truetype'), url('../../assets/fonts/TwentytwelveSansN.svg#TwentytwelveSansN') format('svg');
    font-weight: normal;
    font-style: normal;
}